<header>
  <h1>ALL YOUR POSTS</h1>
</header>

<section>
    
    <article>
        <div class="col-md-8 text-primary text-center">
            <% if current_user.posts.empty? %>
                <div>
                    <h1>Namaste, <%=current_user.username.capitalize%></h1>
                        <h3>You havent shared your thoughts with us yet!! Click on the new post button and begin sharing 
                            your thoughts. We are so eager to hear from you.</h3>
                </div>
            <% else %>
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title"><%=current_user.username.capitalize%> These are all your Posts!</h1>
                    </div>
                    <ul class="list-group">
                        <% current_user.posts.each do |post| %>
                            <li class="list-group-item">
                                <blockquote class="blockquote mb-0">
                                    <a href="/posts/<%= post.id %>" class="card-link"><%=post.title%></a>
                                            <a href="/posts/<%= post.id %>" class="card-link"><%=post.content%></a>
                                        <footer class="blockquote-footer">  
                                            <%=post.created_at.strftime("%A, %B %d, %Y")%>
                                                <br>
                                        </footer>
                                </blockquote>
                            </li>
            <% end %>
                    </ul>
        </div>
            <% end %>
        </div>
    </article>
</section>